name: Build
# Avoid triggering two build on PR
# https://github.community/t/how-to-trigger-an-action-on-push-or-pull-request-but-not-both/16662/2
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build-and-prerelease:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: yarn install, compile, and test coverage
        run: |
          # https://github.com/mui-org/material-ui/issues/12432#issuecomment-411046157
          yarn install --network-timeout 500000
          yarn build
          yarn test

      # TODO: add coverage info
      # - name: Coveralls
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build artifact
        run: |
          mkdir artifact
          rm README.md && yarn vsce package --yarn -o artifact

      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: vs-picgo CI built release
          path: artifact
