on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Create Release

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      # https://github.com/juliangruber/browser-run/issues/147#issuecomment-580958935
      - run: sudo apt-get install xvfb

      - name: yarn install, compile, and test coverage
        run: |
          yarn install
          yarn compile
          xvfb-run --auto-servernum yarn test

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Create Release for Tag
        id: release_tag
        uses: yyx990803/release-tag@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          body: |
            Please refer to [CHANGELOG.md](https://github.com/PicGo/vs-picgo/blob/${{ steps.get_version.outputs.VERSION }}/CHANGELOG.md) for details.
